.sample-text {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  color: #666;
  text-align: center;
}

.button {
  width: 250px;
  height: 45px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #5781C2;
  color: white;
  box-shadow: 2px 2px 5px #16314d98;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3%;
}

.button:hover {
  box-shadow: 4px 4px 8px #16314d63;
  background-color: #40558f;
}
